# Server Configuration
PORT = 3000
WEB = "local" # Set to "production" in production environments

# Database Connection URLs
# Provide at least one of MONGO_DB_URL (preferred) or MONGO_DB_SRV_URL
MONGO_DB_SRV_URL = "mongodb+srv://<username>:<password>@<cluster-url>/?appName=shop-now"
MONGO_DB_URL = "mongodb://<username>:<password>@<shard-0-url>,<shard-1-url>,<shard-2-url>/?ssl=true&replicaSet=<set-name>&authSource=admin&appName=shop-now"

# JSON Web Token Secret Key
JWT_SECRET = "your-jwt-secret-key-must-be-long-and-secure"

# EmailJs service  can get from https://www.emailjs.com/
EMAIL_JS_ORDER_TEMPLATE_ID="template_sdsfhhks"
EMAIL_JS_PRIVATE_KEY="rrrrrerqfd"
EMAIL_JS_PUBLIC_KEY="sdfrwerwerwe"
EMAIL_JS_SERVICE_ID="service_sdfsdfsf"
EMAIL_JS_TEMPLATE_ID="template_sdsfsdf"
